/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Didact Gothic", sans-serif;
  background-color: rgb(21, 89, 148);
  color: white;
}

body {
  display: flex;
  justify-content: center;
}

/* ********* on every page ********** */

.App {
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, 100px);
}

.headshot-container {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 5px;
  border: 5px solid white;
  max-width: 200%;
}

.headshot {
  grid-column-start: 1;
  grid-column-end: 3;
  max-width: 100%;
}

.contact {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: repeat(3, 66px);
  grid-template-rows: repeat(3, 66px);
}

.envelope {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 10px; */
  height: 100%;
}

.linkedin {
  display: flex;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.github {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: center;
  align-items: center;
  font-size: 1.0em;
}

.goHome {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  align-items: center;
  max-height: 100px;
  font-size: .9em;
  color: white;
}

.goBack {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  align-items: center;
  max-height: 100px;
  font-size: .9em;

}

.contact-icons {
  font-size: 2.8em;
  color: rgba(255, 255, 255, 1);
}

.contact-icons:hover {
  background-color: white;
  font-size: 2.8em;
  color: rgb(8, 68, 121);
  background-color: rgb(21, 89, 148);
}

/******** Homepage links: About and Projects ********/
.links {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
   justify-content: space-around;
  align-items: center; 
  font-size: 2em;

}

.about-link, .projects-link{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 170px;
  height: 45px;
  border-radius: 5px;
}


.about {
  display: flex;
  flex-wrap: wrap;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  padding-left: 5px;
  padding-right: 5px;
  
}
.about a{
  color: black;
}

.about p:nth-of-type(1) {
  margin-top: 8px;
  margin-bottom: 0;
}

.about p:nth-of-type(2) {
  margin-top: 8px;
  margin-bottom: 0;
}

.projects {
  display: grid;
  /* flex-wrap: wrap;
  justify-content: space-around;
  align-self: center; */
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  font-size: 2em;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, 70px);
  padding-top: 3px;
  
}

.battleTanks-link {
  justify-self: center;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
}

.unscramble-link {
  justify-self: center;
  align-self: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
}

.parity-link {
  justify-self: center;
  align-self: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  /* padding-left: 5px;
  padding-right: 5px; */
}

.adventure-link {
  justify-self: center;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  /* padding-left: 5px;
  padding-right: 5px; */
  font-size: 0.8em;
}

.project-text-container {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: 50px 150px 350px 50px;
}

.project-header {
  justify-self: center;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 5;
}

.project-text {
  margin-top: 0;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  overflow: auto;
  
}

.project-video {
  justify-self: center;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
}

.project-links {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
}

.project-links li {
  list-style: none;
  font-size: 1.1em;
}

.project-links a {
  text-decoration: none;
  color: white;
}

.project-links a:hover {
  text-decoration: none;
  color: rgb(51, 122, 183);
  background-color: white;
  border-radius: 5px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 195px;
  height: 65px;
  border-radius: 5px;
}

.BattleTanksLogo {
  font-family: "Contrail One", cursive;
}

.UnscrambleLogo {
  font-family: "Gaegu", cursive;
}

.ParityLogo {
  font-family: "Press Start 2P", cursive;
  font-size: 0.6em;
  color: black;
}

.AdventchureTymeLogo {
  font-size: 0.8em;
  color: black;
}

.logo:hover {
  background-color: #688299 ;
  /* border: outset 5px rgba(104, 130, 153, .8); */
  /* border: outset 5px #688299; */
  border-radius: 5px;
}

a:link {
  text-decoration: none;
  color: rgb(21, 89, 148);
}

a:visited {
  text-decoration: none;
  color: rgb(21, 89, 148);

}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
